@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&family=Questrial&display=swap');
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #efe6e6;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(195, 163, 195);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/*NAVBAR*/

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav{
  display: flex;
  position: fixed;
  z-index: 1;
  width: 80%;
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  font-size: 2.5em;
  align-items: center;
  text-shadow: 1px 2px 5px rgb(29, 22, 29);
}

.perfilm{
  margin-left: 70%;
  display: flex;
  gap: 10px;
  width: 8%;
  align-items: center;
  font-family: 'Questrial', sans-serif;
}

.sidenav{
  font-family: 'Questrial', sans-serif;
  color: white;
}

.material-icons.md-48 { font-size: 48px; }

a{
  color: white;
  font-size: 48px;
  margin-right: 1%;
}

a:hover{
  text-decoration: none;
  color: white;
}

#logout{
  border: none;
  background-color: none;
  color: none;}

  .logo{
    margin-top: 3%;
  }

/*CONFIGURAÇÃO DA PAGINA*/

.container{
    display: grid;
    aspect-ratio: 3/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:90vh 100vh auto;
    grid-template-areas:"foto perfil"
                        "postagem postagem"
                        "comenta comenta";

}

/*PERFIL*/
.foto{
    grid-area:"foto";
    padding: 10%;
    background-color: #FDFDFD;
}

.imagem{
    margin-top: 12vh;
}

.perfil{
    grid-area:"perfil";
    background-color: #FDFDFD;
}

.textoperfil{
    margin-top: 30vh;
}

h1{
    font-family: 'Alegreya Sans', sans-serif;
    color:#8C52FF;
}

h3{
  font-size: 0.8em;
}

h4{
    font-family: 'Questrial', sans-serif;
    color: #FF66C4;
}

/*POSTAGENS*/

.postagem{
    grid-area:"postagem";
    text-align: center;
    background-color:#FDFDFD;
}

.guides{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family:'Alegreya Sans', sans-serif;
  color: #8B53FF;
}


.post{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 1000px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 2;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carosel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 6px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carosel::-webkit-scrollbar {
  display: none;
}
.carosel.no-transition {
  scroll-behavior: auto;
}
.carosel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carosel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carosel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosel .card {
  scroll-snap-align: start;
  height: 40vh;
  width: 80%;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  
}

h2{
  color: #8B53FF;
}
.carosel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carosel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carosel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carosel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carosel {
    grid-auto-columns: 100%;
  }
}

/*COMENTARIOS*/

.comenta{
    grid-area:"comenta";
    align-items: center;
    text-align: center;
    background-color:#FDFDFD;
}

.postagem, .comenta, .header {
    grid-column: 1 / span 2; /* Ocupa duas colunas */
  }
  .fundo{
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: #FDFDFD;
    width: 80%;
    height: auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
  
  .coment{
    margin: auto;
    margin-bottom: 5%;
    width: 80%;
    height: 40vh;
    background-color: #FDFDFD;
    border-radius: 2%;
    border: 3px solid #E6DAFF;
  }
  
  .imagem-coment{
    display: flex;
    width: 20%;
    height: 20%;
    padding-top: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
  }
  .usu{
    font-size: 35px;
    margin-top: 5%;
    font-family: 'Questrial', sans-serif;
    color: #7E2778;
  }
  
  .conteudo{
    position: relative;
    border-top: 3px solid #E6DAFF;
    border-bottom: 3px solid #E6DAFF;
    text-align: justify;
    background-color:#FDFDFD;
    height: 22vh;
    width: 100%;
    padding: 2%;
  }
  
  textarea{
    box-sizing: border-box;
    resize: none;
    color:#7E2778;
    background:none;
    border: none;
    height:100%;
    width: 100%;
    font-family: 'Questrial', sans-serif;
  }
  
  .enviar{
    height:5vh;
    width:15vh;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #8C52FF;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;
    transition: transform 0.2s;
    margin-left: 75%;
    margin-top: 2%;
  }
  
  .enviar:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /*RESPONSIVIDADE*/

  @media only screen and (min-width:1145px) and (max-width: 1500px) {
    h3{
      font-size: 0.6em;
    }

    .logo{
      margin-top: 4%;
    }

    .wrapper {
      max-width: 800px;
    }


    .enviar{
      font-size: 1.0em;
      height: 4vh;
    }
  }